// --- Helpers ---
$helper-default__precision: 3;

// --- Breakpoints ---
$brp__iphone5: 320px;
$brp__iphoneX: 375px;
$brp__ipad: 768px;
$brp__ipad-pro: 1024px;
$brp__HD-Ready: 1366px;
$brp__Full-HD: 1920px;
$brp__QHD: 2560px;
$brp__4K: 3840px;
$brp__5K: 5120px;
$brp__8K: 7680px;

$brp__general--fluid-base: $brp__Full-HD;
$brp__general--fluid-to: $brp__8K;

$brp__portrait--fluid-base: $brp__iphone5;
$brp__portrait--fluid-to: 600px;
$brp__portrait--max: $brp__ipad-pro;

// --- Sizings ---
$navbar-height: 7rem;
$navbar-height--portrait: 4.5rem;
