// --- Base Colors ---
$c-blue: #1cb1d5;
$c-orange: #e66337;
$c-gray: #6b6569;
$c-white: #ffffff;
$c-black: #000000;

// --- Semantic Colors ---
$c-theme: $c-blue;
$c-primary: $c-gray;
$c-secondary: $c-black;
$c-accent: $c-orange;

$c-body: $c-primary;
$c-body-bg: $c-white;
