// --- Fonts ---
// Arial
$arial: Arial, Helvetica, sans-serif;

// --- Semantic Fonts ---
$f-body: $arial;

// --- Font Sizes ---
// 1rem = 10px
$fs-body: 2.4rem;
$lh-body: 3.1rem;
$fs-body--portrait: 1.6rem;
$lh-body--portrait: 2.1rem;
